body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: rgb(254, 238, 214);
    color: rgb(103, 101, 101);
    margin: 15px;
    text-align: justify;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
}

.body {
    margin: 20px auto auto;
    max-width: 750px;
}

.strikeout {
    text-decoration: line-through;
}

.vertical-indent {
    margin-top: 10px;
}

.vertical-indent > span {
    color: rgb(55, 141, 178);
    font-weight: bold;
    margin-top: 10px;
}

.paragraph {
    text-indent: 1em;
    line-height: 25px;
}
