.indent {
    margin: 15px;
    max-width: 750px;
}

.table-style {
    font-family: "arial", sans-serif;
    border-collapse: collapse;
    text-align: left;
    font-size: 20px;
    width: 100%;
}

.table-style th {
    background-color: #3498db;
    color: white;
}

.table-style th, td {
    border: 1px solid #cccccc;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

.table-style tr:nth-child(odd) {
    background-color: #eeeeee;
}